/* === base styles === */
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Heebo", sans-serif;
}
h1,
h2,
h3,
hr,
p {
  margin: 0;
}
h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
