/* heebo-100 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-100.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-100.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-100.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-100.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-200 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-200.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-200.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-200.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-200.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-200.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-300 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-300.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-300.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-300.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-300.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-regular - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-regular.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-500 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-500.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-500.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-500.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-500.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-600 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-600.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-600.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-600.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-600.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-700 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-700.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-700.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-700.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-700.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-800 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-800.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-800.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-800.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-800.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* heebo-900 - latin */
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/heebo-v12-latin/heebo-v12-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/heebo-v12-latin/heebo-v12-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-900.woff2") format("woff2"), url("../fonts/heebo-v12-latin/heebo-v12-latin-900.woff") format("woff"), url("../fonts/heebo-v12-latin/heebo-v12-latin-900.ttf") format("truetype"), url("../fonts/heebo-v12-latin/heebo-v12-latin-900.svg#Heebo") format("svg");
  /* Legacy iOS */
}

/* === base styles === */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
}

h1,
h2,
h3,
hr,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  position: relative;
}

.nav {
  background-color: #fff;
  min-height: 4rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 3rem;
    height: 4rem;
    padding: 0 1rem;
  }
}

.nav__menu.active {
  height: 100vh;
}

.nav__menu.active .nav__link {
  opacity: 1;
}

.nav__menu.active .nav__toggle-menu div:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateX(-14px);
          transform: rotate(-45deg) translateX(-14px);
}

.nav__menu.active .nav__toggle-menu div:nth-child(2) {
  opacity: 0;
}

.nav__menu.active .nav__toggle-menu div:nth-child(3) {
  -webkit-transform: rotate(45deg) translateX(-14px);
          transform: rotate(45deg) translateX(-14px);
}

.nav__link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  opacity: 0;
  border-bottom: 5px solid #fff;
  -webkit-transition: color 0.3s, border 0.5s;
  transition: color 0.3s, border 0.5s;
}

.nav__link--active, .nav__link:hover {
  color: #ff6464;
  border-bottom-color: #ff6464;
}

@media screen and (min-width: 768px) {
  .nav__link {
    opacity: 1;
  }
}

.nav__toggle-menu {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.3rem;
}

@media screen and (min-width: 768px) {
  .nav__toggle-menu {
    display: none;
  }
}

.nav__toggle-menu div {
  width: 1.9rem;
  height: 2px;
  margin: 8px auto 0;
  background-color: #21243d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__toggle-menu div:first-child {
  margin-top: 0;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 6rem 5rem 3rem;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .home {
    gap: 5rem;
  }
}

.home__text {
  color: #21243d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home__text {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .home__text {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
}

.home__name {
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 1.7rem 0;
}

@media screen and (min-width: 768px) {
  .home__name {
    padding-left: 0;
    padding-right: 7rem;
  }
}

.home__description {
  margin-bottom: 1.8rem;
}

.home__btn {
  color: #fff;
  text-decoration: none;
  background-color: #ff6464;
  padding: 0.6rem 1.25rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.25rem;
}

.home__btn:hover {
  background-color: rgba(255, 100, 100, 0.8);
}

.section {
  padding: 1rem 0.6rem;
}

.section__heading {
  color: #21243d;
  text-align: center;
  font-size: 1.38rem;
  margin: 1.625rem auto;
}

@media screen and (min-width: 768px) {
  .section__heading {
    text-align: left;
    padding-left: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .section__content {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 768px) {
  .section__content--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.section--gray {
  background-color: #edf7fa;
}

.section--padded {
  padding: 1rem;
}

.post-prev {
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.post-prev__title {
  color: #21243d;
  font-weight: 700;
  font-size: 1.63rem;
  cursor: pointer;
}

.post-prev__title:hover {
  text-decoration: underline;
}

.post-prev__meta {
  color: #21243d;
  margin: 1rem auto;
  font-size: 1.125rem;
}

.post-prev__content {
  color: #21243d;
}

.work-prev {
  margin-bottom: 4rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .work-prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
}

.work-prev__title {
  color: #21243d;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 1rem;
  padding-top: 0;
  cursor: pointer;
}

.work-prev__title:hover {
  text-decoration: underline;
}

.work-prev__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .work-prev__img {
    height: 100%;
    width: auto;
  }
}

.work-prev__meta {
  margin: 1.5rem auto;
}

.work-prev__year {
  color: #fff;
  background-color: #21243d;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 4px 1rem;
  border-radius: 1.2rem;
}

.work-prev__category {
  margin-left: 2rem;
  color: #b695a4;
  font-size: 1.25rem;
}

.work-prev__text {
  color: #21243d;
  margin-top: 2rem;
}

.footer {
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.footer__socials i {
  color: #21243d;
  font-size: 1.875rem;
}

.footer__socials i:hover {
  color: rgba(33, 36, 61, 0.8);
}

.footer__copyright {
  color: #21243d;
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */